<div style="width:100vw;height:100vh;display:flex;flex-direction:column;margin:7vh 0 0 30vw">
    <img src="~/images/empty-notepad.png" alt="" style="width:300px;height:300px;object-fit:cover">
    <p style="color:#5c5b5b;margin:2vh 0 0 4vw">You are not permitted To view page</p>
</div>