<div class="d-flex justify-content-center">
    <ul class="d-flex align-items-center" style="width:90%;height:40px;border-bottom:3px solid #F1F1F1;">
        <li class="user-list">
            <a asp-area="" asp-page="/Uploads/Index" style="cursor:pointer;font-size:1.1rem;font-weight:500;color:#212122;text-decoration:none">Loan Uploads</a>
        </li>
        <li class="user-list ms-5">
            <a asp-page="/Uploads/Treasury/Index" style="cursor:pointer;font-size:1.1rem;font-weight:500;color:#212122;text-decoration:none">Treasury</a>
        </li>

    </ul>
</div>
