@page
@model ConfirmEmailModel
@{
    Layout = "/Pages/Shared/_Layout.cshtml";
    ViewData["Title"] = "Confirm email";
}

<div style="width:100%;height:70vh;display:flex;flex-direction:column;align-items:center">
    
        <h1 style="margin:3vh 0 10vh 0">@ViewData["Title"]</h1>
       
        <partial name="_StatusMessage" model="Model.StatusMessage" />
       
        
   
</div>
