@page
@model WebApplication2.Pages.T_DateSettingsModel
@{
}


<h3>Set Date for Processing </h3>


<table>
    <thead>
        <tr>
            <th width="30%">DatePurpose</th>
            <th width="50%">Select Process Date (Edit)</th>
            <th width="50%">PurposeDetails</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.DateSettings)
        {
            <tr>
                <td>@item.DatePurpose</td>
                <td>
                    <input asp-for="@item.DateActual" />
                </td>
                <td>@item.PurposeDetails</td>
            </tr>
        }
    </tbody>
</table>
<div>
</div>
<div>
</div>

<button type="submit" class="btn btn-primary">Save Changes</button>

